{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Products
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}

   <h1>Все товары</h1>
   <h3>{% current_time '%b %d %Y' %}</h3>



    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

    <hr>
    {% if category_news_list %}

       <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->

               <td>
                   Дата
               </td>
               <td>
                   Заголовок
               </td>
               <td>
                   Категории
               </td>
               <td>
                   Текст
               </td>


           </tr> <!-- Не забываем закрыть HTML-тег строки -->
           {% for p in category_news_list %}
           <tr>


               <td>{{ p.dateCreation }}</td>
               <td>{{ p.title|censor}}</td>
                <td>
                    {% for category in p.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{category}}</a>
                    {% endfor %}
                </td>
               <td>{{ p.text|truncatechars:20 }}</td>



           </tr>
           {% endfor %}
       </table> <!-- ... и таблицы -->
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}





{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}